html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: smooth;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%; /* Ensure section takes full width */

  .content {
    width: 100%; /* Content takes full width */
  }
}
@media (max-width: 768px) {
  .mobileSkills {
    height: fit-content;
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
